apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
spec:
  template:
    spec:
      taints:
      - key: node-role.kubernetes.io/infra
        value: reserved
        effect: NoSchedule
      - key: node-role.kubernetes.io/infra
        value: reserved
        effect: NoExecute
